<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{/*css文件*/}}
    <link rel="stylesheet" href="/static/index.css">
    <title>users/posts</title>
</head>
<body>
<div>{{ .title | safe }}</div>
{{/*js文件*/}}
<script src = "/static/index.js"></script>
</body>
</html>